body{
    background-color:antiquewhite
}
h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    color: crimson;
    height: 30px;
    line-height: 30px;
    background-color: rgb(204, 149, 162);
  
}
h2,h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: orangered;
}
.main_image{
    text-align: center;
    border: 1px double black;
    background-color: lightblue;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 80px;

}
#autoimmune_diagram, #image-causes{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: black
}
nav {
    background-color:rgb(204, 149, 162);
    padding-right: 25%;
}
nav ul{
    display:inline;
    }
nav li{
    display:inline;
    font-size:18px;
    }
nav a{
  height: 30px;
  line-height: 30px;
  color: #204156;
  text-decoration:none;
}
.list{
    display: flex;
    }
.button a{
    position:relative;
    cursor: pointer;
    background-color: bisque;
    disply:flex;
}
.button a:active{
    top:2px;
}
.clauses{
    object-position: 750px;

}
footer{
    text-align: right;
}
